name: Assign

on:
  issues:
    [issue_comment]

jobs:
  if: ${{ github.event.comment.body == "/assign"}}
  auto-assign:
    runs-on: ubuntu-latest
    steps:
      - name: 'Auto-assign issue'
        uses: pozil/auto-assign-issue@v1.4.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          assignees: ${{ github.actor }}