name: Assign
on:
  issue_comment:
    created:
      body: /assign

jobs:
  auto-assign:
    if: "{{ github.event.comment.body | contains('/assign') }}"
    runs-on: ubuntu-latest
    steps:
      - name: 'Auto-assign issue'
        uses: pozil/auto-assign-issue@v1.4.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          assignees: ${{ github.actor }}