name: Assign
on:
  issue_comment:
    created:

jobs:
  auto-assign:
    if:
      - issue.body == "/assign"
      - issue.assignees.total_count == 0
    runs-on: ubuntu-latest
    steps:
      - name: 'Auto-assign issue'
        uses: pozil/auto-assign-issue@v1.4.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          assignees: ${{ github.actor }}